INSERT INTO `rawmateproduct` (`RawMateProductId`, `ProductName`, `ProductDescription`, `ProductImage`, `ProductPrice`, `ProductCurrency`, `ProductQuantity`, `ProductMeasurement`, `SellerId`, `PublishedDate`, `RawmateProcessType`) VALUES (NULL, 'Gold Name', 'My Long Description', 'https://via.placeholder.com/500x500', '1250', 'Dollars', '1', 'Ounce', '1', '2020-10-20 18:16:34', '0');